{:aliases
  {:rebel {:main-opts ["-m" "rebel-readline.main"]}}
 :paths ["src" "resources" "target"]
 :deps
 {
  org.clojure/clojure {:mvn/version "1.9.0"}
  org.clojure/clojurescript {:mvn/version "1.10.339"}
  com.bhauman/figwheel-main {:mvn/version "0.2.0"}
  com.bhauman/rebel-readline {:mvn/version "0.1.4"}
  com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
  org.clojure/tools.nrepl {:mvn/version "0.2.13"}
  cider/cider-nrepl {:mvn/version "0.17.0"}
  cider/piggieback {:mvn/version "0.3.8"}
  cljsjs/gl-matrix {:mvn/version "2.3.0-jenanwise-0"}
  }

:foreign-libs
  [{:file-min  "cljsjs/gl-matrix/production/gl-matrix.min.inc.js",
       :file  "cljsjs/gl-matrix/development/gl-matrix.inc.js",
          :provides  ["cljsjs.gl-matrix"]}],
   :externs  ["cljsjs/gl-matrix/common/gl-matrix.ext.js"]}
